@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}


.sidebar {
    background-color: rgb(123, 120, 120);
    /* width: 320px; */
    height: 100vh;
    font-family: 'Courgette', cursive;
    transition: transform 0.4s ease-in;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 30px 0px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: green; */
    height: 60vh;
    width: 80vw;
    margin: 140px auto;
    display: flex;
    justify-content: space-around;

}

.devpic img {
    width: 300px;
    height: 60vh;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courgette', cursive;
}

.hello {
    font-size: 70px;
}

.about {
    font-size: 50px;
}

.name {
    font-size: 60px;
    font-weight: bold;
}

.moreabout {
    font-size: 22px;
}

/* buttons part */

.buttons {
    margin-top: 34px;
}

.btn {
    padding: 10px;
    border-radius: 30px;
    background-color: dodgerblue;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.btn-sn {
    font-size: 16px;
    padding: 10px 14px;
    margin: 10px 0px;

}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

/* contact form section */

.contactform h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px 0;
    /* text-align: center; */
}

.contactform {
    font-family: 'Courgette', cursive;
    padding: 0 34px;
    padding-top: 130px;

}

.contactform form div {
    padding: 8px 0;

}

.contactform form .form-control {
    width: 20vw;
    border-radius: 9px;
    font-size: 17px;
    margin: 2px 0px 0px;
    padding: 4px;
}

#emailHelp {
    font-size: 13px;
    color: midnightblue;
    margin: 0 5px;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}


/* blog.html section */

.blogitem {
    margin: 20px;
    font-family: 'Courgette', cursive;
}



.blogcontainer h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 23px;
}

/*  intro section  */

.intro h1 {
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'Courgette', cursive;
}

.intro h2 {
    font-family: 'Courgette', cursive;
    margin: 12px 12px;

}

.intro p {
    font-family: 'Courgette', cursive;
    margin: 12px 12px;

}

/* skill section */

.skill {
    width: 150px;
    height: 5px;
    /* background-color: red; */
}

.skillcontainer {
    padding: 12px;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* margin: 8px 2px; */
}


.skillitem1 {
    margin-top: 5px;

}

.skillitem2 {
    padding-top: 5px;
}

.skillitem3 {
    padding-top: 10px;
}

.skillitem4 {
    padding-top: 10px;
}

.skillitem5 {
    padding-top: 5px;
}

.hundred {
    width: 265px;
    background-color: green;
}

.fifty {
    width: 125px;
    background-color: purple;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

/* Hamburger and cross section */

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 110px;
}

.sidebargo {
    transform: translate(-443px, 0px);
    position: absolute;

}



@media (max-width:1600px) {
    /* * {
        background-color: rgb(248, 147, 147);
    } */

    /* .sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
}